body {
    background-color: #32383e;
    color: whitesmoke;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: grey;
}

a:hover {
    color: red;
}

table, th, td {
    border: 1px solid white;
    border-collapse: collapse;
}

th, td {
    padding: 5px;
    white-space: nowrap;
}

td.center {
    text-align: center;
}

td.right {
    text-align: right;
}

.noborder {
    border: None;
}
